body{
    background-color: #d6e8ee;
    margin-top: 0;
}

.frame{
    margin: 10px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    height: 60px;
    background-color: #A8DADC;
}

/*navigator*/
.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 13px;
    margin-right: 13px;
    border-bottom: 1.5px solid #1D3557;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
    margin-left: 10px;
}
ul{
    margin-top: 18px;
}

.site-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #1D3557;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

a{
    color: #1D3557;
    text-decoration: none;
}
.type1{
    color: #E63946;
}
.type2{
    color: #E63946;
}
.type3{
    color: #E63946;
}

/*dashboard*/

.dashboard{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

.korean-comment{
    margin-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.highlight{
    background-color: #1D3557;
    color: #F1FAEE;
}

.bold{
    font-weight: 700;
}
.type4{
    color: #457B9D;
}
.type5{
    color: #E63946;
}

/*Activities in 2024*/

.activities-top{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 50px;
    font-size: 18px;
    color: #1D3557;
}


.year-activities{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.introduce{
    display: flex;
    flex-direction: row;
    margin:20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proplie{
    width: 130px;
    margin-left: 20px;
    margin-top: 15px;
}

.teacher{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.right-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.t-name{
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #2b5d7c;
    margin-bottom: 0;
}

.t-comment{
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #2b5d7cb6;
}

.activities{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #2b5d7c;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #a8dadc80;
    border-radius: 10px;
}

.members{
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    margin-right: 5px;
    margin-left: 5px;
    color: #2b5d7cb6;
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}


.m-picture{
    width: 90px;
    height: 110px;
}

.m-name{
    margin-top: 10px;
    font-size: 13px;
}

.thumbnail{
    width: 120px;
    margin-right: 10px;
    border-radius: 10px 0px 0px 10px;
}

.article-info{
    margin-left: 7px;
}

.act-name{
    font-size: 20px;
    margin-bottom: 0;
}

.project-leader{
    font-size: 13px;
    font-weight: 500;
    color: #2b5d7c8e;
}

.entire-project{
    font-size: 13px;
    font-weight: 500;
    color: #2b5d7c8e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entire-project-comment{
    font-size: 12px;
    font-weight: 600;
    color: #2b5d7cbe;
    margin:0;
    margin-bottom: 24px;
}

.thisyear-leader{
    font-size: 13px;
    font-weight: 500;
    color: #2b5d7c8e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.thisyear-comment{
    font-size: 12px;
    font-weight: 600;
    color: #2b5d7cbe;
    margin:0;
    margin-bottom: 24px;
}

.members-top{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #1D3557;
}

.qna-img{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    width: 90%;
    border-radius: 20px;
}

.qna-p{
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 250px;
    color: #2b5d7cb6;
}

/*footer*/

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #1D3557;
    margin: 20px;
    color: #1D3557;
    margin-bottom: 50px;
}

.by{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    display: inline-block;
}

.creator{
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 15px;
}

